
.container {
    width: 600px;
    height: 550px;
}


.urls-list-block {
    padding: 15px;
}

.file-upload {
    float: left;
}

.open-urls-button {
    float: right;
}

.github-url {
    float: right;
}